<div class="jumbotron">
  <img src="http://www.mediaus.co.kr/news/photo/201312/38842_86909_5321.gif" width="100%">
  <h1>더 지니어스 시즌2</h1>
  <p class="lead">2013년 12월 7일부터 2014년 2월 22일까지 매주 토요일 밤에 tvN에서 방영한 리얼리티 쇼. 더 지니어스:게임의 법칙의 후속작</p>
  <p id="count">4.2 점 (250 명)</p>
  <form>
    <span class="star-rating">
      <input type="radio" name="rating" value="1"><i></i>
      <input type="radio" name="rating" value="2"><i></i>
      <input type="radio" name="rating" value="3"><i></i>
      <input type="radio" name="rating" value="4"><i></i>
      <input type="radio" name="rating" value="5"><i></i>
    </span>
    <br>
    <input type="text" class="form-control" name="msg" placeholder="별점 체크 후 평가를 남겨주세요">
    <br>
    <button class="btn btn-success" href="#" role="button">평가하기</button>
  </form>
</div>

<div class="row">
  <div class="col-lg-12">
    <!-- 각 코멘트들 -->
    <div class="well">
      <span class="star-rating small">
        <i></i>
        <i></i>
        <i class="on"></i>
        <i></i>
        <i></i>
      </span>
      <p>User1 : Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
    </div>
    <!-- 각 코멘트 끝 -->

    <div class="well">
      <span class="star-rating small">
        <i></i>
        <i></i>
        <i class="on"></i>
        <i></i>
        <i></i>
      </span>
      <p>User2 : Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
    </div>

  </div>
</div>
