<!-- 들어올 때마다 랜덤하게 뜨는 방송 배너 -->
<div class="jumbotron">
  <img src="http://www.mediaus.co.kr/news/photo/201312/38842_86909_5321.gif" width="100%">
  <h1>더 지니어스 시즌2</h1>
  <p class="lead">2013년 12월 7일부터 2014년 2월 22일까지 매주 토요일 밤에 tvN에서 방영한 리얼리티 쇼. 더 지니어스:게임의 법칙의 후속작</p>
  <span class="star-rating">
    <i></i>
    <i></i>
    <i></i>
    <i class="on"></i>
    <i></i>
  </span>
  <p id="count">4.2 점 (250 명)</p>
  <p><a class="btn btn-lg btn-success" href="#" role="button">자세히 보기</a></p>
</div>
<!-- 배너끝 -->


<div class="row marketing">
  <!-- 데이터베이스에서 불러와 반복하여 뿌려줄 방송 정보 -->
  <div class="col-lg-6">
    <h4>코미디빅리그</h4>
    <img src="http://free.tvn.cjenm.skcdn.com/CLIP/EA/B120127353/B120127353_EPI0129_07_B.jpg" class="img-thumbnail" width="320">
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
    <span class="star-rating small">
      <i></i>
      <i></i>
      <i></i>
      <i class="on"></i>
      <i></i>
    </span>
    <p id="count">4.2 점 (250 명)</p>
    <p><a class="btn btn-sm btn-success" href="#" role="button">자세히 보기</a></p>
  </div>
  <!-- 끝 -->

  <div class="col-lg-6">
    <h4>더 지니어스</h4>
    <img src="http://free.tvn.cjenm.skcdn.com/CLIP/EA/B120156585/B120156585_EPI0004_10_B.jpg" class="img-thumbnail" width="320">
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
    <span class="star-rating small">
      <i></i>
      <i></i>
      <i></i>
      <i class="on"></i>
      <i></i>
    </span>
    <p id="count">4.2 점 (250 명)</p>
    <p><a class="btn btn-sm btn-success" href="#" role="button">자세히 보기</a></p>
  </div>

  <div class="col-lg-6">
    <h4>수요미식회</h4>
    <img src="http://free.tvn.cjenm.skcdn.com/CLIP/EA/B120144822/B120144822_EPI0026_09_B.jpg" class="img-thumbnail" width="320">
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
    <span class="star-rating small">
      <i></i>
      <i></i>
      <i></i>
      <i class="on"></i>
      <i></i>
    </span>
    <p id="count">4.2 점 (250 명)</p>
    <p><a class="btn btn-sm btn-success" href="#" role="button">자세히 보기</a></p>
  </div>

  <div class="col-lg-6">
    <h4>집밥 백선생</h4>
    <img src="http://free.tvn.cjenm.skcdn.com/CLIP/EA/B120156114/B120156114_EPI0010_06_B.jpg" class="img-thumbnail" width="320">
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
    <span class="star-rating small">
      <i></i>
      <i></i>
      <i></i>
      <i class="on"></i>
      <i></i>
    </span>
    <p id="count">4.2 점 (250 명)</p>
    <p><a class="btn btn-sm btn-success" href="#" role="button">자세히 보기</a></p>
  </div>

</div>
