<!DOCTYPE html>
<html>
<head>
<title>방송 평점 서비스</title>
  <link rel="stylesheet" href="https://bootswatch.com/slate/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation"><a href="#">전체 방송 리스트</a></li>
        <li role="presentation"><a href="#">방송등록하기</a></li>
      </ul>
    </nav>
    <h3 class="text-muted">방송 평점 서비스</h3>
  </div>

  <%= yield %>

  <footer class="footer">
    <p>&copy; 멋쟁이사자처럼</p>
  </footer>

</div> <!-- /container -->

</body>
</html>
